@page "/cases/contactedperson/{contactId:int}"
@inject HttpClient http
@inject NavigationManager navmgr


 <img class="avatar" src="/image/peronicon.png" alt="Avatar"/>


<div>
    <label>Name :</label>
    @brgymodel.Fullname
</div>
<div>
    <label>Contact Number : </label> 
    @brgymodel.Contact
</div>
<a class="btn btn-success" href="cases/createcontact/@brgymodel.Id">Add New Contact</a>
<br />
@if (person == null)
{
    <p><em>Loading...</em></p> }
else
{


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Barangay</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var per in person)
            {
                <tr>

                    <td>@per.Fullname</td>
                    <td>@per.Barangay.BarangayName</td>
                    <td>@per.PersonStatus</td>
                    <td>@per.QrCode</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {

    List<PersonProfilesModel> person = new List<PersonProfilesModel>();

    [Parameter] public int contactId { get; set; }

    PersonProfilesModel brgymodel = new PersonProfilesModel();

    protected async override Task OnParametersSetAsync()
    {
        brgymodel = await http.GetFromJsonAsync<PersonProfilesModel>($"https://localhost:44326/api/Person/" + contactId);
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadContactedPerson();
    }

    async Task LoadContactedPerson()
    {
        person = await http.GetFromJsonAsync<List<PersonProfilesModel>>("https://localhost:44326/api/Contacts/" + contactId);
    }

}

